{% extends "FaceLookApp/base.html" %}

{% load static %}

{% block content %}

    <div class="container">
    <br/>
        {% for servicio in servicios %}

            <div class="card mb-4 mx-auto" style="background-color: white; width: 60%">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ servicio.imagen.url }}" class="card-img" alt="Service Image">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-2">{{ servicio.titulo }}</h2>
                            <p class="card-text text-center mb-3">{{ servicio.contenido }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
