{% extends "FaceLookApp/base.html" %}

{% load static %}

{% block content %}

    {% if "no_valido" in request.GET %}
        <div class = "formsContacto" align=center>
            <p style="color: white; width:50%; margin: 20px auto" align=center> No se pudo enviar la informacion. Intente nuevamente mas tarde.</p>
        </div>

    {% endif %}

    {% if "valido" in request.GET %}
        <div class = "formsContacto" align=center>
            <p style="color: white; width:50%; margin: 20px auto" align=center> Informacion enviada correctamente!!</p>
        </div>
    
    {% else %}

    <div class = "formsContacto">

        

        <form action="" method="POST" style="text-align: center">
            {% csrf_token %%}
            <table style="color:white; margin: 20px auto">{{formulario.as_table}}</table>
        
            <input type="submit" value="Enviar" style="width:150px">

        </form>
    </div>

    {% endif %}

{% endblock %}