{% extends "FaceLookApp/base.html" %}

{% load static %}

{% block content %}

    {% if "no_valido" in request.GET %}
        <div class = "formsContacto">
            <p style="color: white; width:50%; margin: 20px auto"> No se pudo enviar la informacion. Intente nuevamente mas tarde.</p>
        </div>

    {% endif %}

    {% if "valido" in request.GET %}
        <div class = "formsContacto">
            <p style="color: white; width:50%; margin: 20px auto"> Informacion enviada correctamente!!</p>
        </div>
    
    {% else %}

    <br/>
    
    <div class="card responsive mx-auto" style="background-color: rgba(255, 255, 255, 0.9);">
        <form action="" method="POST" style="margin-bottom: 0;">
            {% csrf_token %}
            <div class="card-body">
                <div class="table-responsive no-border">
                    <div>
                        <table class="table">
                            {{formulario.as_table}}
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center" style="background-color: rgba(128, 33, 33, 0.9); color:white; margin-bottom: 0;">
                <input type="submit" value="Enviar" class="btn btn-danger">
            </div>
        </form>
    </div>
    
    
    <br/>
    
    
    
       

    {% endif %}

{% endblock %}