<div class="card" style="width: 350px; margin: 0 auto;">
    <div class="card-header bg-success text-white text-center">
        Carro de Compras
    </div>

    <div class="card-footer">
        <div class="row">
                <div class="col text-center">
                    Loguearse para ver el carro
                </div>
            </div>
        <p>
        <div class="row">
            <div class="col card-header bg-success text-white text-center">
                Total: $ -
            </div>
         </div>
    </div>

  </div>
  