{% extends "FaceLookApp/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <form method="POST" action ="" style="color:white">

        {% csrf_token %}

        <div style="width: 35%; margin: auto">

            {{form|crispy}}

            {% if messages %}

                {% for msg in messages %}

                    <div style="color: red">{{msg}}</div><br/>

                {% endfor %}

            {% endif %}


            <button type="submit" class="btn btn-submit">Ingresar</button>
        
        </div>

    </form>

{% endblock %}